<section class="row ng-scope" data-ng-controller="HomeController">
  <div class="row first-row">


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav first-nav-bar">
            <li><a href="#">Productos Completo</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Acerca de Nosotros</a></li>

          </ul>


        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

<div class="row second-row">
  <div class="col-md-2">
  <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
       

        <img src="/modules/core/img/logos/logo2.png
" alt="..." height="95px;" width="150px;">
        </div>
        </div>
        <div class="col-md-10">
  <form class="navbar-form navbar-left" role="search">
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</button>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  
</form>
</div>
</div>

<div class="row third-row" style="text-align: center;">  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Puerto Nuevo Dental Supply
</div>




<div class="row fourth-row">

  <nav class="navbar navbar-default">
  <div class="container-fluid second-menu">
    <!-- Brand and toggle get grouped for better mobile display -->
   

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse second-nav-bar" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>



      </ul>
      <ul class="nav navbar-nav">
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Promociones <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>



      </ul>

      <ul class="nav navbar-nav">
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manuales de Productos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>



      </ul>

      <ul class="nav navbar-nav">
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Soporte <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>



      </ul>


      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


</div>





<div class="row">
  <div class="jumbotron">
    <div class="container">
      
    </div>
  </div>
</div>
<div class="row">
    <h1>Productos Dentales</h1>
  </div>

  <div class="row">
     <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.3m.com/wps/wcm/connect/a18c5003-8e03-42ce-8166-6a2aa25fd00c/0-0_Home_Adhesives_Single_Bond_160px.jpg?MOD=AJPERES&CACHEID=a18c5003-8e03-42ce-8166-6a2aa25fd00c" alt="..." height="160px;" width="160px;">
    </a>
     <div class="caption">
        <h3>Adhesivos</h3>
      </div>
  </div>
     <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="http://www.3m.com/wps/wcm/connect/ca236f2f-6c34-42b9-a70b-a6f9b767a965/0-0_Home_Composites_Filtek_XTE_160px.jpg?MOD=AJPERES&CACHEID=ca236f2f-6c34-42b9-a70b-a6f9b767a965" alt="..." height="160px;" width="160px;">
    </a>
    <div class="caption">
        <h3>Cementos</h3>
      </div>
  </div>
     <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.3m.com/wps/wcm/connect/05ff016d-a35a-49b0-b9a7-83cddf8e015b/0-0_Home_Cements_RelyX_160px.jpg?MOD=AJPERES&CACHEID=05ff016d-a35a-49b0-b9a7-83cddf8e015b" alt="..." height="160px;" width="160px;">
    </a>
    <div class="caption">
        <h3>Compuestos</h3>
      </div>
  </div>
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.3m.com/wps/wcm/connect/c0c47d74-1c09-45ac-80d1-b2891b26789f/Elipar_DeepCure_S_eyeshield_shad_160x160.jpg?MOD=AJPERES&CACHEID=c0c47d74-1c09-45ac-80d1-b2891b26789f" alt="..." height="160px;" width="160px;">
    </a>
    <div class="caption">
        <h3>Luzes</h3>
      </div>
  </div>

  </div>



  <div class="row">

    <div class="well" style="height: 50px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 0;

">

     <div class="col-md-2"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> </div>



  <div class="col-md-8" style="height: 100%;
padding-top:  8px;
padding-bottom: 8px;">
     <div class="progress" style="height: 100%;
margin-bottom: 0;
">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;
height: 100%;
margin-top: 0;

">
    <span class="sr-only" style="height: 150px;

">20% Complete</span>
  </div>
</div>
  </div>

   <div class="col-md-2"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </div>


  </div>
  </div>


  <hr class="featurette-divider">


  <div class="row">
   
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.3m.com/wps/wcm/connect/267d5413-8dba-4f8b-92f8-1b25590e05fc/Lava_Plus_System_270x135.jpg?MOD=AJPERES&CACHEID=267d5413-8dba-4f8b-92f8-1b25590e05fc" alt="..." height="135px;" width="270px;">
      <div class="caption">
        <h3>New Lava™ Plus High Translucency Discs</h3>
        <p>Now available in a disc format so more dental labs have access to  the quality, esthetics and clinical performance of the Lava™ brand.</p>
       
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <img src="http://www.3m.com/wps/wcm/connect/3370455f-b19e-4945-8c41-6df4a9fc4e4b/0.0_Home_TDS_270x135.jpg?MOD=AJPERES&CACHEID=3370455f-b19e-4945-8c41-6df4a9fc4e4b" alt="..." height="135px;" width="270px;">
      <div class="caption">
        <h3>3M™ True Definition Scanner</h3>
        <p>New innovative design for a better overall experience.</p>
        
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.3m.com/wps/wcm/connect/b80ce344-4bee-4755-b26f-b972e7f371dc/0.0_Home_MDI_270x135.jpg?MOD=AJPERES&CACHEID=b80ce344-4bee-4755-b26f-b972e7f371dc" alt="..." height="135px;" width="270px;">
      <div class="caption">
        <h3>MDI Mini Dental Implants</h3>
        <p>There has never been a better time to start offering the MDI treatment plan in your practice.</p>
        
      </div>
    </div>
  </div>

    



  </div>

  <div class="row">
    
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
   <img src="http://www.3m.com/wps/wcm/connect/84a3abd1-cd92-4e5a-9cfb-77fc13fdff33/Elipar_DeepCure_S_eyeshield_270x135.jpg?MOD=AJPERES&CACHEID=84a3abd1-cd92-4e5a-9cfb-77fc13fdff33" alt="..." height="135px;" width="270px;">
      <div class="caption">
        <h3>New Products</h3>
        <p>The Elipar™ DeepCure-S Curing Light holds true to its name. Due to optimized optics, you can be confident that your restorations will have a deep, uniform cure….from center to rim – from surface to cavity bottom – and at clinically relevant distances.</p>
        
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <img src="http://www.3m.com/wps/wcm/connect/1dfc31bb-255f-469e-819c-7e8016770cfc/0.0_Home_SpOffers_270x135.jpg?MOD=AJPERES&CACHEID=1dfc31bb-255f-469e-819c-7e8016770cfc" alt="..." height="135px;" width="270px;">
      <div class="caption">
        <h3>Special Offers</h3>
        <p>Find out how you can save on Scotchbond™ Universal Adhesive, RelyX™ Cements, Imprint™ and Impregum™ Impression Materials, Filtek™ Supreme Ultra, and more.</p>
        
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <img src="http://www.3m.com/wps/wcm/connect/d6c1f147-ae9f-4105-a541-6f964a7576e6/0.0-Home-where-to-buy_270x135.jpg?MOD=AJPERES&CACHEID=d6c1f147-ae9f-4105-a541-6f964a7576e6" alt="..." height="135px;" width="270px;">
      <div class="caption">
        <h3>How to buy 3M ESPE Dental Products</h3>
        <p>Purchase quality 3M ESPE dental products from a 3M ESPE Authorized Distributor.</p>
        
      </div>
    </div>
  </div>

  </div>

  <hr class="featurette-divider">


 




<div class="row register-row">

  <h3 class="h3 register-email"> Subscribe to our catalog!</h3>

  <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputFirstName2" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputLasyName2" placeholder="Last Name">
  </div>
  <div class="form-group">

    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="E-mail Address">
  </div>
  <button type="submit" class="btn btn-default btn-subscribe">subscribe</button>
</form>

  </div>


  <div class="row contact-us-row">
   <div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-4">
      <h3>Contact US</h3>
    </div>
     <div class="col-md-2">
    

        <ul class="list-unstyled">
    <li>Customer Service</li>
    <li>787-783-8728</li>
      </ul>

   
   </div>
    <div class="col-md-2">
    <button class="btn btn-default btn-contact active" type="submit">Contact Us</button>
  </div>



   <div class="col-md-4 presentation-card"> <button class="btn btn-card" type="submit">Evelyn Atiles | 787-603-1757</button>


    
  </div>
  </div>


</div>
  </div>

  <div class="row">
     <div class="col-xs-6 col-md-3"><dl>
  <dt>Our Distributors</dt>
  <dd>

    <ul>
  <li>3M ESPE</li>
  <li>Carestream Kodak
</li>
  <li>Dentsply
</li>
  <li>Ritter
</li>
  <li>Polaroid
</li>
  <li>Valumax
</li>
  <li>SS White
</li>
  <li>Materiales de Ortodoncia
</li>

</ul>



  </dd>
</dl></div>
  <div class="col-xs-6 col-md-3"><dt>Horario</dt>
  <dd>
      <ul class="list-unstyled">
  <li>Lunes - Jueves </li>
   <li>9:00 am - 5:00 pm</li>
</ul>

   <ul class="list-unstyled">
  <li>Viernes
</li>
   <li>9:00 am - 12:00 md</li>
</ul>



  </dd></div>
  <div class="col-xs-6 col-md-3"><dt>Área de Servicios</dt>
  <dd>

    <ul class="list-unstyled">
  <li>Todo Puerto Rico</li>
</ul>

</dd></div>
  </div>

   <div class="col-xs-6 col-md-3"><dl>
.
   </div>




<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->





<footer>
  <p>csoto@diss.io</p>
  <p>Christian Soto Atiles © DiSS 2015</p>
</footer>

</div></section>