<section class="row" data-ng-controller="HomeController">
	<div class="jumbotron">
      <div class="container">
        <h2>Dynamically integrated Structured Systems</h2>
        <font size="4">We understand you organization information system might sometimes not be enough to compete with todays fast developing enviroment, but that is why our team of specialized analyst will work with you and your coplete team to structure your organization information system and develop a dynamically integrated structure system to meet your buisness specific needs!</font>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://icons.iconarchive.com/icons/gakuseisean/ivista-2/256/Misc-Web-Database-icon.png" width="242" height="200"  alt="...">
      <div class="caption">
        <h3>Web Design & Development</h3>
        <p>Whether you are promoting services, a new book, or need an informational site for your organization, your website will be your most public face ....</p>
        <p><a href="/#!/services" class="btn btn-primary" role="button">Learn More</a> </p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Places-network-server-database-icon.png" width="242" height="200"  alt="...">
      <div class="caption">
        <h3>Cloud & Dedicated Hosting</h3>
        <p>Our WebCloud service's provide hosting for dediccated website and e-coomerce applications. Eliminate any server running Windows and Linux because ...</p>
       <p><a href="#" class="btn btn-primary" role="button">Learn More</a> </p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://icons.iconarchive.com/icons/ahdesign91/icloud/512/Mobile-Device-Silver-icon.png" width="242" height="200"  alt="...">
      <div class="caption">
        <h3>Mobility</h3>
        <p>Let us design and build your specific employee and partner-facing mobile applications and connect them to resources inside your corporate firewall ...</p>
        <p><a href="#" class="btn btn-primary" role="button">Learn More</a> </p>
      </div>
    </div>
  </div>
</div>



      <hr>

      <footer>
        <p>Christian Soto Atiles © DiSS 2015</p>
      </footer>
   
</section>