<section class="row" data-ng-controller="AuthenticationController">
	<div class="jumbotron">
  <h2>Web Design & Development</h2>
          <p>Whether you are promoting services, a new book, or need an informational site for your organization, your website will be your most public face. Our framework enables us to deploy and scale web applications written in a variety of languages (including .NET, Java, PHP, Node.js and Python). Integrated with our rich search capabilities for E-Commerse and Web solutions. Let us take care of managment, configuration and service so that you can focus on your buisness instead of having to worry about the infrastructure. </p>
       
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a></p>
</div>
</section>